:root {
    --bg-green:     #6A8D73;
    --black:        #07020D;
    --dark-green:   #2C3A2F;
    --light:        #F1E9DB;
    --light-hover:  #e4bc78;
    --blue:         #0054a9;
    --blue-selected:  #1485f6;
    --blue-hover:  #399afb;
    --light-blue:   #143b61;
    --darker-blue:   #498acb;

    color: var(--black)
}

.background {
    background-color: var(--bg-green);
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 55%;
    min-width: 40%;
    background-color: var(--light);
    border-radius: 48px;
    padding: 24px 0px;
}

.main div {
    padding: 8px 0px;
}

.main hr {
    width: 100%;
    border-top: 4px dashed var(--light-hover);
    margin: 0;
}

.header {
    margin-bottom: 24px;
}

.header h1{
    letter-spacing: -4px;
    font-weight: bolder
}

.header p {
    color: var(--dark-green);
    font-size: 20px;
    margin-bottom: 0;
}

.main button, .main select {
    width: 90%;
    background-color: var(--blue);
    color: var(--light);
    font-size: 28px;
    border: 2px solid var(--light-blue);
    border-radius: 48px;
    padding: 8px;
    text-align: center;
    user-select: none;
    box-shadow: #0000004d 0px 6px 24px 0px;
}

.main button:hover, .main select:hover, .main button.selected-mode:hover {
    background-color: var(--blue-hover);
    transform: scale(1.01);
    transition: 500;
}

.main button.selected-mode {
    background-color: var(--blue-selected);
}

.btns {
    width: min(550px, 90%);
}

.btns:last-of-type {
    margin-top: 50px;
}

.btn-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 24px; */
}

.btn-cont h6 {
    color: var(--dark-green);
    font-size: 18px;
    padding-top: 6px;
}

.btn-cont h5 {
    color: var(--dark-green);
    font-size: 28px;
    width: 100%;
    padding-left: 28px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    color: var(--light);
    flex-grow: 0;
    padding: 0px 24px;
}

.game-header-cont {
    display: flex;
    justify-content: end;
    gap: 48px;
    font-weight: bold;

    user-select: none;
}

.game-header-cont a{
    font-size: 72px;
    font-weight: bold;
    text-decoration: none;
    color: var(--light);
}

.game-header-cont a:hover {
    transform: scale(1.1);
    transition: 250;
}

.game-header-cont div {
    padding-top: 36px;
}

.picture-card {
    width: 150px;
    height: 150px;
    border: 4px solid var(--black);
    border-radius: 8px;
    background: no-repeat center;
    background-color: var(--light);
    margin: 4px;
}

.picture-card:hover {
    background-color: var(--light-hover);
    transition: 150ms;
    transform: scale(1.02);
}

.picture-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.hidden {
    background-image: url("img/hidden.png");
}

.picture-card-1:not(.hidden) {
    background-image: url("img/pic1.png");
}
.picture-card-2:not(.hidden) {
    background-image: url("img/pic2.png");
}
.picture-card-3:not(.hidden) {
    background-image: url("img/pic3.png");
}
.picture-card-4:not(.hidden) {
    background-image: url("img/pic4.png");
}
.picture-card-5:not(.hidden) {
    background-image: url("img/pic5.png");
}
.picture-card-6:not(.hidden) {
    background-image: url("img/pic6.png");
}
.picture-card-7:not(.hidden) {
    background-image: url("img/pic7.png");
}
.picture-card-8:not(.hidden) {
    background-image: url("img/pic8.png");
}
.picture-card-9:not(.hidden) {
    background-image: url("img/pic9.png");
}
.picture-card-10:not(.hidden) {
    background-image: url("img/pic10.png");
}
.picture-card-11:not(.hidden) {
    background-image: url("img/pic11.png");
}
.picture-card-12:not(.hidden) {
    background-image: url("img/pic12.png");
}
.picture-card-13:not(.hidden) {
    background-image: url("img/pic13.png");
}
.picture-card-14:not(.hidden) {
    background-image: url("img/pic14.png");
}
.picture-card-15:not(.hidden) {
    background-image: url("img/pic15.png");
}